<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body {
    /* The image used */
    background-image: url(" http://ww.publicdomainpictures.net/pictures/30000/t2/plain-white-background.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>
<body>

<br><br>
<div>
<table class="table table-responsive"  height="80px" width="100px" > 

<tr>
<th>Username</th>
<th>Profile Pic</th>
<th>Accept</th>
<th>Deny</th>
</tr>

<tr ng-repeat="p in pendingRequest">
<td><a href=#/getUserDetails/{{p.fromid}}>{{p.fromid}}</a></td>
<td> <img src="http://localhost:8085/ProjectMiddleware/getimage/{{p.fromid}}"
						width=50px; height=50px; alt="Error on loading"></td>
<td><a href="" ng-click="updatePendingRequest(p,'A')" class="btn btn-success">Accept</a></td>
<td><a href="" ng-click="updatePendingRequest(p,'D')" class="btn btn-danger">Deny</a></td>
</tr>

</table>
</div>

</body>
</html>