<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
container{
 max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background:#f9f9f9;
  background-image: url("https://int.nyt.com/applitions/cooking/static/images/HeroImage.jpg");
}
.body{
background-image: url("https://int.nyt.com/applications/cooking/static/images/HeroImage.jpg");
}
</style>
</head>
<body>
<div >
	
	<p>Adding New Blog</p>
	<div class="container">
	<div class="col-lg-8 col-md-offset-2">
		<div>
			{{error.message}}
			<label>Enter the Blog Title:</label> <input type="text"
				ng-model="blog.blogtitle">
		</div>
		<div>
			<label>Enter the Blog Content</label><br>

			<textarea rows="15" cols="95" ng-model="blog.bolgcontent"></textarea>
		</div>
		<div></div>
		<input type="submit" value="addblog" ng-click="saveBlog()">
	</div></div></div>
</body>
</html>