
<html>
<head>
<meta charset="ISO-8859-1">
<title>Job titles</title>
</head>

<body>
	<div class="w3-animate-opacity">
		<font face="arial narrow" size="4">
			<center>
				<h2>
					<strong><u>List of Job Titles available:</u></strong>
				</h2>
				<br>
				<table>


					<div>
						Search :<input ng-model="searchText">
						<!--   Search By Title:<input ng-model="searchText.jobtitle"> 
  Search By Skills Required:<input ng-model="searchText.skillsrequired"> -->

						<table class="table table-striped">
							<thead>
								<tr>
									<th>Title</th>
									<th>Posted On</th>
									<th>Skills Required</th>
									<th>Apply</th>
									<th><a href="" ng-show="currentUser.role=='ADMIN'">Delete</a></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="job in jobs | filter : searchText ">
									<td><a href="" ng-click="getJobDetails(job.id)">{{job.jobtitle}}</a></td>
									<td>{{job.postedon | date : 'medium'}}</td>
									<td>{{job.skillsRequired}}</td>
									<td><input type="button" value="Apply for Job"></td>
									<td><input type="button" value="Delete Job"
										ng-show="currentUser.role=='ADMIN'"
										ng-click="deleteJob(job.id)"></td>
								</tr>
							</tbody>
						</table>
					</div>


					<div ng-show="showJobDetails">
						<div class="w3-animate-opacity">
							<b><u>Job Details:</u></b><br> <b>Job title: </b>{{job.JobTitle}}<br>
							<br> <b>Job Description: </b>{{job.jobdescription}}<br>
							<br> <b>Skills Required: </b>{{job.skillsRequired}}<br>
							<br> <b>Experience:</b> {{job.yrsOfExp}}<br>
							<br> <b>Salary: </b>{{job.salary}}<br>
							<br> <b>Posted On:</b> {{job.postedon | date : 'medium'}}<br>
							<br> <b>Company: </b>{{job.companyname}}<br>
							<br> <b>Location:</b> {{job.location}}<br>
							<br>
						</div>
					</div>