 <html>
<head>

<style>
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

intput[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	background-color: #0059b3;
	size: 20px;
}
</style>
</head>
<body>
	<div class="container">
	 

		<div class="col-lg-8 col-md-offset-3">
			<div class="row">
				<div class="col-lg-8">
				<label><h1>Registration Form</h1></label><br><br>
					<div>
				<div> 	<span style="color: red" ng-if="error.code==1">{{error.message}}</span></div>
						<label>UserName:</label> <input type="text" placeholder="Enter UserName" ng-model="user.username">
						<div> <span style="color: red" ng-if="error.code==2">{{error.message}}</span></div>
					</div>
					<div>
						<label>Password:</label> <input type="password" placeholder=" Enter Password"ng-model="user.password">
					</div>
					<div>
						<label>FirstName : </label><input type="text" placeholder="Enter FirstName" ng-model="user.firstname">
					</div>
					<div>
						<label>LastName :</label> <input type="text" placeholder="Enter LastName" ng-model="user.lastname">
					</div>
					<div>
						<label>Email :</label> <input type="text" placeholder="Enter emailId" ng-model="user.email"> <div> <span
							style="color: red" ng-if="error.code==3">{{error.message}}</span></div>
					</div>
					<div>
						<label>PhoneNumber:</label> <input type="text" placeholder="Enter PhoneNumber" ng-model="user.phonenumber">

					</div>
					<div>
					<label>Gender:</label><br>
					<input type="radio" ng-model="user.gender" value="Male" >Male <input type="radio" ng-model="user.gender" value="Female">Female
					</div>
					<div>
						<label>Select Role:</label><br> <input type="radio" value="STUDENT"
							ng-model="user.role">Student <input type="radio"
							value="EMPLOYEE" ng-model="user.role"> Employee <input
							type="radio" value="ALUMNI" ng-model="user.role"> Alumni
						<input type="submit" value="Register" ng-click="registerUser()">
						<!-- 1 -->
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
 