<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List of Friends</title>
<style>
body {
    /* The image used */
    background-image: url(" http://www.publicdomainpictures.net/pictures/30000/t2/plain-white-background.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>
<body>

	<div class="w3-animate-opacity">
		<table class="table table-responsive">

			<tr>

				<th>fromid</th>
				<th>toid</th>
				<th>from</th>
				<th>to</th>
				 
			</tr>

			<tr ng-repeat="f in friends">
				<td ng-hide="f.fromId==currentUser.username">{{f.fromid}}</td>
				<td ng-hide="f.toId==currentUser.username">{{f.toid}}</td>

				<td><img
					src="http://localhost:8085/ProjectMiddleware/getimage/{{f.fromid}}"
					  width="50" height="50" alt="error on loading "
					class="img-rounded"></td> <td><img
					src="http://localhost:8085/ProjectMiddleware /getimage/{{f.toId}}"
					  width="50" height="50"
					class="img-rounded" alt="error on loading"></td>

			</tr>
		</table>


	</div>

</body>
</html>