<style>
form {
	font-family: 'Open Sans Condensed', arial, sans;
	width: 800px;
	height: 950px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

input[type=text],textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;	
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
body {
    /* The image used */
    background-image: url("http://terraparkoffices.com/images/slideshow/sl3.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

</style>
<br>
<br>
 <span style="color: red">{{error.message}}</span>
<form name="jobform" novalidate>
<h2>Add new job</h2>
	<div>
		Enter Job Title : <input type="text" required="required" ng-model="job.jobtitle" name="jt">
			<span ng-show="jobform.jt.$touched && jobform.jt.$error.required" style=color:red>You can't leave this empty</span>
	</div>

	<div>
		Enter Job Description:
		<textarea rows="4" cols="15" required="required" ng-model="job.jobdescription" name="jd"></textarea>
		<span ng-show="jobform.jd.$touched && jobform.jd.$error.required" style=color:red>You can't leave this empty</span>
	</div>

	<div>
		Enter Skills Required: <input type="text" 
			ng-model="job.skillsRequired" name="skr">
			<span ng-show="jobform.skr.$touched && jobform.skr.$error.required" style=color:red>You can't leave this empty</span>
		 
	</div>
	<div>
		Enter Years of Experience: <input type="text" required="required" ng-model="job.yrsOfExp" name="yof">
		<span ng-show="jobform.yof.$touched && jobform.yof.$error.required" style=color:red>You can't leave this empty</span>
	</div>
	<div>
		Enter Salary:<input type="text" required="required" ng-model="job.salary" name="sal">
		<span ng-show="jobform.sal.$touched && jobform.sal.$error.required" style=color:red>You can't leave this empty</span>
	</div>
	<div>
		Enter Location :<input type="text" required="required" ng-model="job.location" name="loc">
		<span ng-show="jobform.loc.$touched && jobform.loc.$error.required" style=color:red>You can't leave this empty</span>
	</div>
	<div>
		Enter Company Name: <input type="text" required="required" ng-model="job.companyname" name="cm">
		<span ng-show="jobform.cm.$touched && jobform.cm.$error.required" style=color:red>You can't leave this empty</span>
		
	</div>
	<div>
		<input type="submit" value="Add new Job" class="btn btn-success" ng-click="saveJob()" ng-disabled="jobform.$invalid">
	</div>
</form>