<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body {
    /* The image used */
    background-image: url(" http://www.publicdomainpictures.net/pictures/30000/t2/plain-white-background.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>
<body>
<br><br><br><br>
{{getuser.username}}vishnu{{blog.blogtitle}}
<form><pre> 
Enter the username <input type="text">{{getuser.username}}fghj{{blog}}
Enter the password <input type="password">
Enter the firstname <input type="text">
Enter the lastname <input type="text">
Enter the email <input type="email">
Enter the phonenumber <input type="text">
Enter the gender <input type="text">
 <input type="submit"></pre>
 </form>
</body>
</html>