<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="container">
<table class="table table-responsive" height="50px" width="1200px" >

<tr>
<th>Username</th>
<th>E-mail</th>
<th>Online</th>
<th>Role</th>
<th>Friend Request</th>
</tr>

<tr ng-repeat="user in suggestedusers">
<td>{{user.username}}</td>  
<td>{{user.email}}</td>
<td ng-if="user.online">Yes</td> 
<td ng-if="!user.online">No</td>
<td>{{user.role}}</td>
<td><button ng-click="friendRequest(user.username)" type="button" class="btn btn-success btn-md">Send a Friend Request</button></td>
</tr>
</table></div>

</body>
</html>